/* 
https://fonts.google.com/
*/

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

h1 {
    font-size: 2em;
    font-family: 'Yomogi', cursive;
    line-height: 2;
    font-weight: 500;
    color: red;
}